{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Ristorante Ramos{% endblock %}
        </title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    
        <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
    </head>
    <body>
        <h1>hola</h1>
    
        {% include 'footer.html' %}
    </body>
</html>