body{
    background-color: rgb(254,250,224);
}
*{
    margin:1rem;
}
.subtitulo{
    font-family: Italianno, cursive;
    color: rgb(3, 67, 55);
    font-size: 3rem;
}
.titulo{
    font-family: Lora, serif;
    color: rgb(65, 32, 0);
}
.card{
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0 6px 18px rgb(0,0,0,.15);
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card p{
    font-size: 1rem;
    line-height: 1.45;
    margin:0;
}
.card .cliente{
    font-weight: 500;
    font-size: 1rem;
}
.imagen-restaurante{
    max-height: 360px;
}