body {
    background-color: rgb(254, 250, 224);
}

.subtitulo {
    font-family: 'Italianno', cursive;
    color: rgb(3, 67, 55);
    font-size: 3rem;
}

.titulo {
    font-family: 'Lora', serif;
    color: rgb(65, 32, 0);
}

/* Imagen de fondo */
.imagen-restaurante {
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    margin-left: 25rem;
}

/* Carrusel flotante */
.card-carrusel {
    width: 100%;
    max-width: 600px;
    margin-left: 15rem;
}

.card {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    font-size: 1rem;
    line-height: 1.6;
}

.card .cliente {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1rem;
}
