*{
    background-color: white;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    margin:1%;
    margin-left: 2%;
    margin-right: 2%;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
}
.encabezado h1{
    font-family: Italianno, cursive;
    font-size: 70px ;
}
.titulo{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}
.info{
    text-align: end;
    font-size: 20px;
    width: 30%;
}
.conceptos{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 4px solid black;
    text-align: center;
    font-weight: bold;
}
.conceptos_factura{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 4px solid black;
    text-align: center;
    padding: 1%;
}
.text_start{
    text-align: start;
}
.num_cuenta{
    border-bottom: 4px solid black;
}
