.footer{
    display: flex;
    flex-wrap: nowrap;
}

.parte-izq{
    background-color: rgb(74,36,25);
    color: white;
    font-family: 'Italianno', cursive;
    text-align: center;
    width: 60%;
}

.texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.titulo_footer{
    font-size: 60px;
    margin: 0;
}

.cajas{
    border: 1px solid white;
    border-radius: 25px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1%;
}

.encabezado{
    font-size: 40px;
    margin: 1%;
    width: 100%;
}

.informacion p{
    font-size: 20px;
    margin: 4%;
    width: 100%;
}

.imagenes_footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 2%;
}

.imagenes_footer img{
    width: 40px;
    cursor: pointer;
}

.imagenes_footer img:hover {
    filter: brightness(0) invert(1);
}

.encabezado_footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-right: 5%;
    margin-left: 5%;
}

.encabezado_footer p{
    font-size: 20px;
}

.mapa{
    width: 40%;
    height: auto;
}

.mapa iframe{
    width: 100%;
    height: 100%;
}

a.btn.pop-up {
    background: cornflowerblue;
    margin: 10px 0 10px 0 !important;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a.btn.pop-up:hover {
    background-color: #486dad;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(0 86 192 / 40%);
    color: #FFFFFF;
}

a.btn.cuenta {
    width: 45%;
}


.btn.logout {
    margin: 10px 0 10px 0 !important
}

.alert.alert-warning.alert-dismissible.fade.show {
    margin-bottom: 0;
    border-radius: 0;
}

@media (max-width: 950px){
    .cajas{
     width: 200px;
    }

    .info p{
        font-size: 15px;
    }

    .encabezado{
        font-size: 30px;
    }
}

@media (max-width: 780px) {
    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .parte-izq{
        width: 100%;
    }

    .cajas{
        width: 300px;
    }

    .mapa{
        width: 100%;
    }

    .encabezado_footer p{
        font-size: 15px;
    }
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img#preview-foto {
    margin: 0 !important;
}

button.btn.p-0.border-0.bg-transparent {
    margin-bottom: 20px;
}