.fondo_texto_pizza{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/pizza_fondo_home4.png');
    padding: 3%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-position: 20% 80%;
}

.fondo_texto_pizza h3{
    font-family: 'Italianno', cursive;
    color: #D4A373;
    font-size: 50px;
}

.fondo_texto_pizza h1{
    color: white;
    padding-bottom: 2%;
}

.bloques_parte4{
    display: flex;
    justify-content: space-around;
    background-color: #feefd4;
    text-align: center;
    align-items: center;
    padding-bottom: 10%;
}

.bloque_parte4{
    background-color: rgba(3, 67, 55, 1);
    width: 600px;
    height: 300px;
    border-radius: 20px;
    padding-top: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -2%;
    margin-bottom: 5%;
}

.bloque_parte4 img{
    width: 75px;
    background-color: #feefd4;
    border-radius: 50px;
}

.bloque_parte4 h3{
    color: rgba(212, 163, 115, 1);
    font-size: 30px;
}

.bloque_parte4 p{
    color: rgba(255, 255, 255, 1);
    font-family: "Instrument Serif", serif;
}

@media (max-width: 1210px) {
    .bloque_parte4{
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 1025px) {
    .bloque_parte4{
        width: 450px;
        height: 325px;
    }
}

@media (max-width: 925px){
    .bloque_parte4{
        width: 400px;
        height: 300px;
    }

    .bloque_parte4 img{
        width: 50px;
    }

    .bloque_parte4 h3{
        font-size: 25px;
    }

    .bloque_parte4 p{
        font-size: 15px;
    }
}

@media (max-width: 815px){
    .bloques_parte4{
        flex-direction: column;
    }

    .bloque_parte4{
        width: 350px;
        height: 225px;
    }

    .bloque_parte4 img{
        width: 40px;
    }

    .bloque_parte4 h3{
        font-size: 20px;
    }

    .bloque_parte4 p{
        font-size: 12.5px;
    }
}

@media (max-width: 370px) {
    .fondo_texto_pizza h3{
        font-size: 40px;
    }

    .bloque_parte4{
        width: 300px;
        height: 200px;
    }

    .bloque_parte4 img{
        width: 30px;
    }

    .bloque_parte4 h3{
        font-size: 15px;
    }

    .bloque_parte4 p{
        font-size: 10px;
    }
}