* {
  box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-size: 12px;
    line-height: 1em;
    font-weight: bold !important;
}

button,
input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

input::placeholder {
  font-size: 0.85rem;
  font-family: 'Lora', serif;
    font-weight: bold !important;
  letter-spacing: 0.1rem;
  color: #ccc;
}

@keyframes bounceLeft {
  0% {
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes bounceRight {
  0% {
    transform: translate3d(0, -50%, 0);
  }
  50% {
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    transform: translate3d(100%, -50%, 0);
  }
}

@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #ccc;
  background-size: cover;
}

.user_options-container {
  position: relative;
  width: 80%;
}

.user_options-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #4a2419c9;
  border-radius: 20px;
}

.user_options-registered,
.user_options-unregistered {
  width: 50%;
  padding: 75px 45px;
  color: #fff;
    font-weight: bold !important;
}

.user_registered-title,
.user_unregistered-title {
  margin-bottom: 15px;
  font-size: 1.66rem;
  line-height: 1em;
    font-weight: bold !important;

}

.user_unregistered-text,
.user_registered-text {
  font-size: 0.83rem;
  line-height: 1.4em;
        font-weight: 300 !important;
}

.user_registered-login, .user_unregistered-signup {
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #FEFAE0;
    color: #4a2419;
}

.user_registered-login:hover,
.user_unregistered-signup:hover {
  color: rgba(34, 34, 34, 0.85);
  background-color: #ccc;
}

.user_options-forms {
    position: absolute;
    top: 50%;
    left: 30px;
    width: calc(50% - 30px);
    min-height: 420px;
    background-color: #FEFAE0;
    border-radius: 20px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transform: translate3d(100%, -50%, 0);
    transition: transform 0.4s ease-in-out;
}

.user_forms-login {
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

form.forms_form {
    position: relative;
    top: -30px;
}

.forms_title {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: bold !important;
  line-height: 1em;
  color: #4a2419;
  letter-spacing: 0.1rem;
}

.forms_field:not(:last-of-type) {
  margin-bottom: 20px;
}

.forms_field-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 6px 20px 6px 6px;
  font-family: 'Lora', serif;
  font-size: 1rem;
  font-weight: bold !important;
  color: #595959;
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}

.forms_field-input:focus {
  border-color: #595959;
}

select.forms_field-input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    font-weight: bold !important;
    color: #ccc !important;
    padding-left: 3px;
}

.forms_buttons {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
    flex-direction: column;
    gap: 50px;
}

.forms_buttons-forgot {
  font-family: 'Lora', serif;
  letter-spacing: 0.1rem;
  color: #ccc;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.forms_buttons-forgot:hover {
  color: #e0e0e0;
}

.forms_buttons-action {
  background-color: #4a2419;
  border-radius: 20px;
  padding: 10px 35px;
  font-size: 1rem;
  font-family: 'Lora', serif;
  font-weight: bold !important;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
  align-self: center;
}

.forms_buttons-action:hover {
  background-color: #391c14;
}

.user_forms-signup,
.user_forms-login {
  position: absolute;
  top: 70px;
  left: 40px;
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
}

.user_forms-signup {
  transform: translate3d(120px, 0, 0);
}

.user_forms-signup .forms_buttons {
  justify-content: flex-end;
}

.user_forms-login {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

.user_options-forms.bounceLeft {
  animation: bounceLeft 1s forwards;
}

.user_options-forms.bounceLeft .user_forms-signup {
  animation: showSignUp 1s forwards;
}

.user_options-forms.bounceLeft .user_forms-login {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-120px, 0, 0);
}

.user_options-forms.bounceRight {
  animation: bounceRight 1s forwards;
}

section.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 100px;
    font-family: 'Italianno', cursive;
    text-align: center;
    color: white;
    position: relative;
    bottom: 100px;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 990px) {
  .user_options-forms {
    min-height: 350px;
  }

  .forms_buttons {
    flex-direction: column;
    gap: 0;
  }

  .user_forms-login .forms_buttons-action {
    margin-top: 30px;
  }

  .user_forms-signup,
  .user_forms-login {
    top: 40px;
  }

  .user_options-registered,
  .user_options-unregistered {
    padding: 50px 45px;
  }

  h1 {
    position: relative;
    top: -40px;
  }
}

@media (min-width: 450px) and (max-width: 767px) {
    div#user_options-forms {
        width: 60% !important;
        left: -75px !important;
    }

    div#user_options-forms.bounceLeft {
        width: 60% !important;
        left: 0 !important;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 60px;
        position: relative;
        top: -15px;
    }

    div#user_options-forms {
        width: 70%;
        left: -105px;
    }

    .user_forms-login {
        width: 100%;
        left: 0;
    }

    h2.forms_title {
        text-align: center;
    }

    input.forms_field-input {
        position: relative;
        left: 15px;
        width: 85%;
    }

    select.forms_field-input {
        position: relative;
        left: 15px;
        width: 85%;
    }

    button.forms_buttons-forgot {
        align-self: center;
    }

    .user_options-registered, .user_options-unregistered {
        padding: 50px 21px;
    }

    .user_unregistered-text, .user_registered-text {
        font-size: 12px;
        line-height: 1.4em;
        font-weight: 300 !important;
        margin-right: 23px;
    }

    .user_registered-title, .user_unregistered-title {
        margin-bottom: 15px;
        font-size: 19px;
        line-height: 1em;
        font-weight: bold !important;
        margin-right: 23px;
    }

    .user_registered-login, .user_unregistered-signup {
        margin-top: 30px;
        border-radius: 20px;
        padding: 10px;
        text-transform: uppercase;
        line-height: 1em;
        letter-spacing: 0.2rem;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        background-color: #FEFAE0;
        color: #4a2419;
        position: relative;
        width: 80%;
        font-size: 9px;
    }

    div#user_options-forms.bounceLeft {
        width: 70%;
        left: -25px;
    }

    .user_forms-signup {
        width: 100%;
        left: 0;
    }

    .user_options-registered {
    padding-right: 5px;
    }

    .user_registered-title {
        margin-bottom: 15px;
        font-size: 19px;
        line-height: 1em;
        font-weight: bold !important;
        margin-left: 25px;
        text-align: end;
        margin-right: 12px;
    }

    .user_registered-text {
        font-size: 12px;
        line-height: 1.4em;
        font-weight: 300 !important;
        margin-left: 25px;
        text-align: end;
        margin-right: 12px;
    }

    .user_options-registered {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 376px) {
    div#user_options-forms {
        width: 60% !important;
        left: -45px;
    }

    .user_registered-login, .user_unregistered-signup {
        font-size: 6px;
        font-weight: bold;
    }
}