.nav_mod {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Instrument Serif', serif;
    display: flex;
    flex-direction: column;
    height: 600px;
  }

a.nav-link.text-white.fs-5 {
    font-size: 30px !important;
    font-family: 'Instrument Serif', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    position: relative;
    margin-left: 10px;
}

a.nav-link.text-white.fs-5:hover {
    color: #feefd4 !important;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

a.nav-link.text-white.fs-5::after {
    content: '';
    position: absolute;
    left: 6px;
    bottom: 5px;
    width: 0;
    height: 2px;
    background-color: #feefd4;
    transition: width 0.3s ease;
}

a.nav-link.text-white.fs-5:hover::after {
    width: 90%;
}

a.btn.administrador, button.btn.administrador{
    font-size: 20px !important;
    border-radius: 50px;
    width: 45%;
    justify-content: center;
    padding: 5px 10px;
}

.presentacion_mod {
    background-color: rgba(0, 0, 0, 0.65);
    margin-top: 3%;
    margin-bottom: 10%;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Italianno', cursive;
    text-align: center;
    color: #feefd4;
}

.presentacion_mod h1 {
    font-size: 70px;
}

button.btn.btn-danger {
    background: #C00000;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

button.btn.btn-danger:hover {
    background-color: #a00000; /* Un rojo más oscuro para efecto "presionado" */
    transform: scale(1.05); /* Ligeramente más grande */
    box-shadow: 0 0 10px rgba(192, 0, 0, 0.4); /* Sombra roja tenue */
}

@media (max-width: 1200px){
    .navbar>.container-fluid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0;
        row-gap: 10px;
    }

    .d-flex {
        display: flex!important;
        width: 50%;
        justify-content: center;
    }
}

@media (max-width: 630px) {
    .nav_mod .navbar-collapse {
      display: none !important;
      flex-direction: column;
    }

    .nav_mod .collapse:not(.show) {
      display: none !important;
    }

    .navbar-expand-custom .navbar-toggler {
      display: block;
    }

    .nav_mod .collapse.show {
      display: block !important;
    }

    .presentacion_mod h1 {
        font-size: 50px;
    }
}

@media (max-width: 540px) {
    .presentacion_mod h1 {
        font-size: 40px;
      }

      a.btn{
        font-size: 15px;
      }

      a.nav-link.text-white.fs-5{
        font-size: 20px !important;
      }
}

@media (max-width: 440px) {
    .presentacion_mod h1 {
        font-size: 30px;
      }
}

@media (max-width: 340px) {
    .presentacion_mod h1 {
        font-size: 20px;
      }
}