{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="error_404_content">
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="width: 100px;padding-bottom: 2%; cursor: pointer;"></a>

        <img src="{% static 'images/pasta_$.png' %}" style="width: 200px">
        <h1>¡Vaya!</h1>
        <h3>La página que estabas buscando ha<br>cambiado de dirección o no existe</h3>
        <a href="{% url 'home' %}"><button style="padding: 20% 40% !important;" class="contenido_carrito_boton_enviar">Volver</button></a>
    </div>
{% endblock %}