{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Ristorante Ramos{% endblock %}
        </title>
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
    
        <link rel="icon" href="{% static 'images/logo.ico' %}">
        <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" href="{% static 'css/reporteVentas.css' %}">
        <link rel="stylesheet" href="{% static 'css/anadirAdministrador.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbarAdministrador.css' %}">
        <link rel="stylesheet" href="{% static 'css/home1.css' %}">
        <link rel="stylesheet" href="{% static 'css/home4.css' %}">
    </head>
    <body>
    
        {% include "navbarAdministrador.html" %}
        {% include "anadirArticulo.html" %}
        
     {% bootstrap_javascript %}
    </body>
</html>