{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/fondo_carta.jpg'); background-size: cover; background-position: 50% 50%;">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="150" height="150">
            </a>
    
            <!-- Menú colapsable -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Enlaces -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white fs-5" href="{% url 'home' %}">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fs-5" href="{% url 'carta' %}">CARTA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fs-5" href="{% url 'contacto' %}">CONTACTO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fs-5" href="{% url 'acerca_de' %}">ACERCA DE</a>
                    </li>
                </ul>
            </div>
            
            <!-- Botón Cliente / Logout-->
            <div class="d-flex">
                <a href="{% url 'login' %}" class="btn btn-outline-light me-2 d-flex align-items-center">
                    <i class="bi bi-person-fill me-1" ></i> CLIENTE
                </a>
                <a href="{% url 'carta' %}" class="btn btn-danger">HAZ TU PEDIDO</a>
            </div>
        </div>
        
        <!-- Título -->
        <div class="presentacion_mod">
            <h1>CARTA</h1>
        </div>
    </nav>

    <!-- Barra carrito-->
    <div class="navbar_carrito h-auto">
        <a href="{% url 'carrito' %}"><img src="/static/images/icons8-carrito-de-compras-50.png" class="img-fluid"></a>
        <p>{{ total }}€</p>
    </div>

    <!--Botones Carta-->
    <div class="botones_carta">
        <a href="#entrantes">
            <button class="btn_categorias">Entrantes</button>
        </a>
        <a href="#comida">
            <button class="btn_categorias">Comida</button>
        </a>
        <a href="#postres">
            <button class="btn_categorias">Postres</button>
        </a>
        <a href="#bebidas">
            <button class="btn_categorias">Bebidas</button>
        </a>
    </div>

    <!--Carta con Artículos-->

    <!--ENTRANTES-->
    <div class="titulos" id="entrantes">
        <h1>Per Iniziare</h1>
        <p>Prueba estos platos perfectos para compartir</p>
    </div>

    <!--Bucle para coger los articulos (entrantes) de la base de datos-->
    <div class="main m-4">
        {% for a in articulos %}
            {% if a.categoria == 'ENTRANTES' %}
                <div class="columnas m-4">
                    <div class="nombre_articulo">
                        <h3>{{ a.nombre}}</h3>
                        <h6>{{ a.precio }}€</h6>
                    </div>
                    <p>{{ a.descripcion }}</p>
                    <div class="boton-derecha">
                        <a href="{% url 'anadir_carrito' a.id%}">
                            <button class="btn-anadir">
                                <img src="{% static 'images/carrito_rojo.png' %}" alt="Carrito" class="icono-carrito">
                                Añadir
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <br>

    <!--COMIDA-->
    <div class="titulos" id="comida">
        <h1>Pasta Fresca y Pizzas</h1>
        <p>Nuestras pastas son artesanales y elaboradas en el día y nuestras pizzas te encantarán.</p>
    </div>

    <!--Bucle para coger los articulos (comida) de la base de datos-->
    <div class="main m-4">
        {% for a in articulos %}
            {% if a.categoria == 'COMIDA' %}
                <div class="columnas m-4">
                    <div class="nombre_articulo">
                        <h3>{{ a.nombre}}</h3>
                        <h6>{{ a.precio }}€</h6>
                    </div>
                    <p>{{ a.descripcion }}</p>
                    <div class="boton-derecha">
                        <a href="{% url 'anadir_carrito' a.id%}">
                            <button class="btn-anadir">
                                <img src="{% static 'images/carrito_rojo.png' %}" alt="Carrito" class="icono-carrito">
                                Añadir
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <br>

    <!--POSTRES-->
    <div class="titulos" id="postres">
        <h1>Postres</h1>
        <p>Nuestras pastas son artesanales y elaboradas en el día y nuestras pizzas te encantarán.</p>
    </div>

    <!--Bucle para coger los articulos (comida) de la base de datos-->
    <div class="main m-4">
        {% for a in articulos %}
            {% if a.categoria == 'POSTRES' %}
                <div class="columnas m-4">
                    <div class="nombre_articulo">
                        <h3>{{ a.nombre}}</h3>
                        <h6>{{ a.precio }}€</h6>
                    </div>
                    <p>{{ a.descripcion }}</p>
                    <div class="boton-derecha">
                        <a href="{% url 'anadir_carrito' a.id%}">
                            <button class="btn-anadir">
                                <img src="{% static 'images/carrito_rojo.png' %}" alt="Carrito" class="icono-carrito">
                                Añadir
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <br>

    <!--BEBIDAS-->
    <div class="titulos" id="bebidas">
        <h1>Bebidas</h1>
        <p>Elige cualquiera de nuestras bebidas más refrescantes.</p>
    </div>

    <!--Bucle para coger los articulos (comida) de la base de datos-->
    <div class="main m-4">
        {% for a in articulos %}
            {% if a.categoria == 'BEBIDA' %}
                <div class="columnas m-4">
                    <div class="nombre_articulo">
                        <h3>{{ a.nombre}}</h3>
                        <h6>{{ a.precio }}€</h6>
                    </div>
                    <p>{{ a.descripcion }}</p>
                    <div class="boton-derecha">
                        <a href="{% url 'anadir_carrito' a.id %}">
                            <button class="btn-anadir">
                                <img src="{% static 'images/carrito_rojo.png' %}" alt="Carrito" class="icono-carrito">
                                Añadir
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}