{% load static %}

{% block content %}
    <div class="parte4">
        <div class="fondo_texto_pizza">
            <h3>Certificaciones</h3>
            <h1>Vera Pizza Artigianale<br> Sapore Autentico Italiano</h1>
        </div>
        
        <div class="bloques_parte4">
            <div class="bloque_parte4">
                <img src="{% static 'images/logotipo1_parte4.png' %}">
                <h3>Vera Pizza Artigianale</h3>
                <p>En 2022 obtuvimos la certificación "Vera Pizza Artigianale", que reconoce nuestro compromiso con la elaboración artesanal de la pizza siguiendo técnicas tradicionales y el uso de ingredientes de alta calidad. Este distintivo avala nuestra dedicación a la auténtica pizza, desde la fermentación de la masa hasta su cocción en horno de piedra.</p>
            </div>
            
            <div class="bloque_parte4">
                <img src="{% static 'images/logotipo2_parte4.png' %}">
                <h3>Sapore Autentico Italiano</h3>
                <p>En 2020 fuimos galardonados con el reconocimiento "Sapore Autentico Italiano", otorgado a restaurantes que promueven la verdadera cocina italiana en el mundo. Este mérito certifica nuestra fidelidad a las recetas originales, la selección de ingredientes italianos y la transmisión de la tradición gastronómica con pasión y respeto.</p>
            </div>
        </div>
    
    </div>
{% endblock %}