{% load static %}

{% block content %}
<div class="container-fluid text-center">
    <h1 class="title1-v1">Descubre nuestras</h1>
    <h2 class="title2">Especialidades</h2>
</div>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-4">
        <img src="{% static 'images/tiramisu.jpg' %}" class="img-carrusel" alt="Tiramisú">
        <div class="descripcion-carrusel shadow">
          <h3 class="contenedor_texto">Tiramisú</h3>
          <p class="texto-plato">Típico postre italiano a base de bizcochos de soletilla, cacao, mascarpone y café.</p>
        </div>
      </div>
    </div>

    <!-- Duplicar estructura para más platos -->
    <div class="carousel-item">
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-4">
        <img src="{% static 'images/otro_plato.png' %}" class="img-carrusel" alt="Otro Plato">
        <div class="descripcion-carrusel shadow">
          <h3 class="contenedor_texto">Otro Plato</h3>
          <p class="texto-plato">Descripción elegante y breve del siguiente plato.</p>
        </div>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon custom-control-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon custom-control-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
{% endblock %}