{% load static %}

{% block content %}

<div class="parte1">
    <div class="parte-roja">
        <div class="fondo-rojo"></div>
        
        <div class="contenedor_home">
            <div class="contenedor_texto">
                <h6>Nuestro Obrador</h6>
                <h3>Pasta Fresca</h3>
                <p>En nuestro restaurante en Sevilla, elaboramos pasta fresca cada día de forma artesanal, utilizando ingredientes de la más alta calidad. Respetamos las recetas tradicionales y los métodos auténticos para garantizar una textura perfecta y un sabor inigualable. Cada plato refleja nuestra pasión por la cocina, combinando tradición y creatividad para ofrecer una experiencia única a nuestros comensales.</p>
            </div>
            
            <div class="contenedor_fotos">
                <img class="foto_pasta" src="{% static 'images/pasta_inicio.png' %}">
                <img class="foto_manualidades" src="{% static 'images/manualidades.png' %}">
                    
            </div>
        </div>
            
    </div>

    <div class="parte-verde">
        
        
    </div>
</div>


{% endblock %}