{% load static %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" style="background-image: url('/static/images/fondo1.png'); background-size: cover;">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo.png' %}" alt="Logo" width="150" height="150">
    </a>

    <!-- Menú colapsable -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Enlaces -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-white fs-5" href="#">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5" href="#">CARTA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5" href="#">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5" href="#">RESERVAR</a>
        </li>
      </ul>
    </div>
      <!-- Botones -->
    <div class="d-flex">
    <a href="#" class="btn btn-outline-light me-2 d-flex align-items-center">
      <i class="bi bi-person-fill me-1"></i> CLIENTE
    </a>
    <a href="#" class="btn btn-danger">HAZ TU PEDIDO</a>
    </div>
  </div>
    <div class="presentacion">
        <h1>Ristorante Ramos</h1>
        <h2>Verdadera Cocina Italiana en el Centro de Sevilla</h2>
        <p>Honramos la tradición culinaria mientras innovamos con cada plato. Elaboramos nuestras recetas de forma artesanal, con ingredientes frescos y técnicas clásicas, para ofrecer una experiencia auténtica e inigualable.</p>
    </div>
</nav>
{% endblock %}
