{% extends 'base.html' %} 
{% load  static %}
{% block content %}
    
    {% include 'navbarAdministrador.html' %}
    <div class="ver_empleados">
        <h1>Gestión Carta</h1>
        
        <div class="ver_empleados_tabla">
            <div class="col">
                <div class="ver_empleados_titulo">
                    <h3>Artículo</h3>
                    <h3>Ingredientes</h3>
                    <h3>Receta</h3>
                    <h3>Categoría</h3>
                    <h3>Precio</h3>
                </div>
                {% for e in empleados %}
                <div class="row">

                    <div class="ver_empleados_row">
                        <div class="custom_row">
                            <p class="ver_empleados_nombre">{{e.nombre}}</p>
                            <p>{{e.email}}</p>
                            <p>{{e.telefono}}</p>
                            <p>{{e.rol}}</p>

                            <button class="editar_empleado_btn"><img src="{% static 'images/editar_Admin.png' %}"></button>
                            <button class="eliminar_empleado_btn"><img src="{% static 'images/borrar_Admin.png' %}"></button>
                        </div>
                    </div>
                         
                </div>
                {% endfor %}
            </div>
        </div>

        <a href="{% url 'new_articulo' %}">
            <button class="crear_empleado_btn">Añadir Artículo</button>
        </a>
    
    </div>
{% endblock %}
